<p class="message">Are you admin? <a routerLink="/register">Create an account</a></p>
<hr>
<p class="message">Square Root? <a routerLink="/squareroot">Calculate Root</a></p>
<p class="message">Cubic Root? <a routerLink="/cubicroot">Calculate Cubic Root</a></p>
<p class="message">Parameter Root? <a routerLink="/parameterroot">Calculate Parameter Root</a></p>
<hr>
<p class="message">Chat with Peer? <a routerLink="/p2pchat">Open chat</a></p>
<hr><hr>
<button (click)="onLogout()">
  Logout
</button>




