@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@fortawesome/fontawesome-free/css/all.css";


body {
    background-color: #f2f2f2;
    margin: 0.5em;
    padding-top: 65px; 
}

.screen{
    margin: 0.5em 2em;
}