<div class="screen">
  <div class="login-page">
    <div class="form">

      <input [(ngModel)]="email" placeholder="email" size="1" />
      <input [(ngModel)]="password" type="password" placeholder="password" />
      <hr>
      <button (click)="login()">Login</button>
      <p class="message">Are you confirmed? <a routerLink="/confirm_otp">Confirm Account</a></p>
    </div>
  </div>

</div>
