<div class="screen">
  <div class="login-page">
    <div class="form">

      <input [(ngModel)]="email" placeholder="email" size="1" />
      <input [(ngModel)]="password" type="password" placeholder="password" />

      <hr>
      <pre>{{model}}</pre>

      <p></p>
      <p></p>
      <p></p>
      <button (click)="login()">Login</button>
      <p class="message">Not registered? <a routerLink="/register">Create an account</a></p>
    </div>
  </div>

</div>
