.navbar{
    margin: 0.2em;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    background-color: #fff;
    font-size: 15px;
}

.navbar-brand{
    font-size: 25px;
}

.navbar-light .navbar-nav .nav-link.active{
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 123, 255, 0.7);
    border-radius: 0.3rem;
    padding: 8px 10px;
}

.navbar-light .navbar-nav .nav-link{
    color: #000;
    padding: 8px 10px;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover{
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 123, 255, 0.7);
    border-radius: 0.3rem;
    padding: 8px 10px;
}

#navbarDropdownMenuLink{
    padding: 0px;
}

.dropdown-menu{
    left: auto;
    position: absolute;
    margin-top: 0;
}
.dropdown-menu.collapsed{
    right: 0;
}

.dropdown-menu.notCollapsed{
    right: auto;
}

.profilePic{
    width : 38px;
    height: 38px;
}




    