<h1>Calculate Square Root</h1>
<div>
  <label for="calculo-raiz-quadrada">Parameter: </label>
  <input id="calculo-raiz-quadrada" #parametro />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="calculateSquare(parametro.value); parametro.value=''">
    Calculate
  </button>
</div>
<p>
  Result: {{result}}
</p>




