<div class="screen">
  <div class="login-page">
    <div class="form">

      <input [(ngModel)]="otp" placeholder="OTP" />
      <hr>
      <button (click)="login()">Login</button>
    </div>
  </div>

</div>
