<h1>Calculate N Root</h1>
<div>
  <label for="calculo-raiz-n-parametro">Index: </label>
  <input id="calculo-raiz-n-parametro" #indice />
  <label for="calculo-raiz-n-indice">Parameter: </label>
  <input id="calculo-raiz-n-indice" #parametro />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="calculateN(parametro.value,indice.value); parametro.value=''">
    Calculate
  </button>
</div>
<p>
  Result: {{result}}
</p>
