<body>
    <!-- Begin Image -->
    <!-- Invisible Box-->
    <div class="box">
      
       <!-- Circular Head-->
       <div class="head">  
         
         <!-- Circular Head Copy -->
         <div class="head-copy"></div>
         
          <!-- Left Ear ~ Light Gray-->
         <div class="ear-left">
           
          <!-- Inner ear ~ Dark Gray -->
         <div class="inner-ear"></div>
         </div>
         
         <!-- Right Ear ~ Light Gray-->
          <div class="ear-right">
         <!-- Inner Ear ~ Dark Gray-->
           <div class="inner-ear"></div>
         </div>
         
         <!-- Left Outer Eye ~ White -->
         <div class="eye-left">
           <!-- Pupil ~ Black -->
           <div class="pupil">
           </div>
         </div>
         
         <!-- Right Outer Eye ~ White -->
         <div class="eye-right">
           <!-- Pupil ~ Black -->
           <div class="pupil">
           </div>
         </div>
         
          <!-- Nose ~ Brown -->
          <div class="nose">
          </div>
         
          <!-- Hair ~ Light Gray -->
         <div class="hair-left"></div>
         <div class="hair-right"></div>
         
       <!-- End Head -->
       </div>
    <!-- End Invisible Box -->
    </div>
   </body>