<div class="screen">
  <h1>Confirm Account</h1>
  <div class="confirm-page">
    <div class="form">
      <label>Email:</label>
      <input [(ngModel)]="email" placeholder="email" size="1" />
      <hr>
      <label>Password:</label>
      <input [(ngModel)]="password" type="password" placeholder="password" />
      <hr>
      <label>One Time Password:</label>
      <input [(ngModel)]="otp" placeholder="OTP" />
      <hr>
      <button (click)="confirmaccount()">Confirm</button>
    </div>
  </div>

</div>
