<h1>Calculate Cubic Root</h1>
<div>
  <label for="calculo-raiz-cubica">Parameter: </label>
  <input id="calculo-raiz-cubica" #parametro />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="calculateCubic(parametro.value); parametro.value=''">
    Calculate
  </button>
</div>
<p>
  Result: {{result}}
</p>
