<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="signup()">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
    <div *ngIf="submitted && fval.firstName.errors" class="invalid-feedback">
      <div *ngIf="fval.firstName.errors.required">First Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
    <div *ngIf="submitted && fval.lastName.errors" class="invalid-feedback">
      <div *ngIf="fval.lastName.errors.required">Last Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.email.errors }" />
    <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
      <div *ngIf="fval.email.errors.required">Email is required</div>
      <div *ngIf="fval.email.errors.email">Email is invalid type</div>
    </div>
  </div>
  <div class="form-group">
    <label for="accessLevel">Access Level</label>
    <input type="number" formControlName="accessLevel" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.accessLevel.errors }" />
    <div *ngIf="submitted && fval.accessLevel.errors" class="invalid-feedback">
      <div *ngIf="fval.accessLevel.errors.required">accessLevel is required</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Register
    </button>
    <a routerLink="/home" class="btn btn-link">Cancel</a>
  </div>
</form>
